<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
			$.ajax({
				type: "POST",
				url: "https://demo.enggenv.com/lora/functions.php",
				dataType: "json",
				success: function(data){
					document.write(data._1);
				}
			});
		});
</script>
</head>
<body>
	<data></data>
</body>
</html>
