<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add this androidjs.js file to your html file to get the functionality of android js -->
  <script type="text/javascript" src = "../assets/androidjs.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script></head>
  <body style="background: linear-gradient(pink, lightblue)">
    <div class="container">
      <div class="jumbotron text-center bg-light shadow-lg" style="margin-top: 50px;">
        <h3>Sample Node.js App</h3>
        <h3><a href="https://github.com/hasanify" style="font-weight: bold">@hasanify</a></h3>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b>Sample App</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#one">Heading One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#two">Heading Two</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#three">Heading Three</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./db.html">Database</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
      <div class="card shadow-lg" id="one">
        <div class="card-header">
          <b>Heading One</b>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores tenetur eaque, saepe quisquam quibusdam libero veritatis at inventore repellendus ea rem sunt velit provident culpa omnis reprehenderit. Quisquam, blanditiis qui?
        </div>
      </div>
      <br>
      <div class="card shadow-lg" id="two">
        <div class="card-header">
          <b>Heading Two</b>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores tenetur eaque, saepe quisquam quibusdam libero veritatis at inventore repellendus ea rem sunt velit provident culpa omnis reprehenderit. Quisquam, blanditiis qui?
        </div>
      </div>
      <br>
      <div class="card shadow-lg" id="three">
        <div class="card-header">
          <b>Heading Three</b>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores tenetur eaque, saepe quisquam quibusdam libero veritatis at inventore repellendus ea rem sunt velit provident culpa omnis reprehenderit. Quisquam, blanditiis qui?
        </div>
      </div>
      <br>
    </div>
    <div class="footer bg-dark shadow-lg text-light text-center" style="padding: 20px;">
      This app was made in Node.js by
      <br>
      <a style="font-weight: bold;" href="https://github.com/hasanify">@hasanify</a>
    </div>
  </script>
</body>
</html>